html{
    font-size: 10px;
}
.row{
    // border: 2px solid white;
    margin: 20px!important;
margin-top: 79px!important;
height: 90px;

.gutter-row{
    // border: 1px solid white;
    margin-inline:auto;
}
.btn-d{
    padding: 4px 50px;
    margin-top: 30px;
    background-color: transparent;
    color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 2.2rem;
    line-height: 1;
    // margin: -10px;

}
}